<app-layout>
    <div class="card m-3 p-3">

        <div class="d-flex justify-content-end mb-3">
            <button type="button" class="btn btn-warning mr-1 text-white"
                (click)="openDowloadDialog(selectedDevice)">Push video</button>
            <button type="button" class="btn btn-primary mr-1" (click)="openCreateEditDialog()">Thêm mới</button>
            <button type="button" class="btn btn-success mr-1" (click)="openCreateEditDialog(selectedDevice)">Sửa
            </button>
            <button type="button" class="btn btn-danger" (click)="removeDevice(selectedDevice)">Xóa</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên thiết bị</th>
                    <th scope="col">Mac</th>
                    <th scope="col">Video</th>
                    <th scope="col">Tên vị trí</th>
                    <th scope="col">Video size</th>
                    <th scope="col">Time</th>
                    <th scope="col">Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let device of (listDevices | paginate: {id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems} ); let index = index"
                    (click)="onClickDevice(device)" [ngClass]="{
                    'is-selected': selectedDevice?.ID == device.ID
                  }">
                    <th>{{ index + 1 + ( pageNumber - 1 ) * pageSize }}</th>
                    <td>{{device.Device_name}}</td>
                    <td>{{device.Mac}}</td>
                    <td (click)="openMediaDialog(device)">{{device.Video_name}}</td>
                    <td>{{device.Location}}</td>
                    <td>{{device.Video_size}}</td>
                    <td>{{device.Video_time}}</td>
                    <td>
                        <span
                            [class]="device.Status === 1 ? 'badge p-2 badge-pill badge-info' : 'badge p-2 badge-pill badge-secondary'">{{tranform(device.Status)}}</span>
                    </td>
                </tr>

            </tbody>
        </table>
        <pagination-controls id="server" (pageChange)="getDataPage($event)"></pagination-controls>
    </div>
    <app-footer></app-footer>
</app-layout>