<app-layout>
    <div class="card m-3 p-3">
        <div class="d-flex justify-content-end mb-3">
            <button type="button" class="btn btn-primary mr-1">Thêm mới</button>
            <button type="button" class="btn btn-success mr-1">Sửa </button>
            <button type="button" class="btn btn-danger">Xóa</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Mac</th>
                    <th scope="col">Video</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-footer></app-footer>
</app-layout>