<app-layout>
    <div class="card m-3 p-3">

        <div class="d-flex justify-content-end mb-3">
            <small class="form-text text-muted d-block text-danger mr-1" style="color: red !important;">Định dạng
                .mp4</small>
            <div>

                <label for="file-upload" class="btn btn-warning mr-1 d-flex" data-toggle="tooltip" data-placement="top"
                    title="Tooltip on top">
                    <i class="fa fa-upload text-white mr-1" aria-hidden="true"></i>
                    <span style="display: block;
                    " class="text-white">Upload video</span>
                </label>
                <input id="file-upload" type="file" style="display: none;" onclick="this.value = null"
                    (change)="changeVideo($event)" />
            </div>
            <div class="d-flex justify-content-end mb-3">

                <!-- <button type="button" class="btn btn-warning mr-1" (click)="openCreateEdit()">Upload video</button> -->
                <button type="button" class="btn btn-primary mr-1" (click)="openCreateEdit()">Thêm mới</button>
                <!-- <button type="button" class="btn btn-success mr-1" (click)="openCreateEdit(selectedMedia)">Sửa </button> -->
                <button type="button" class="btn btn-danger" (click)="removeMedia(selectedMedia)">Xóa</button>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Video</th>
                    <!-- <th scope="col">Name</th> -->
                    <th scope="col">Size</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let video of (listVideos | paginate: {id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems} ); let index = index"
                    (click)="onClickMedia(video)" [ngClass]="{
                    'is-selected': selectedMedia?.ID === video.ID
                  }">
                    <th scope="row">{{index + 1 + ( pageNumber - 1 ) * pageSize }}</th>
                    <!-- <td ></td> -->
                    <td (click)="openMediaDialog(video)">{{video.Video_name}}</td>
                    <td>{{video.Video_size}} MB</td>
                    <td>{{video.Video_time}}</td>
                </tr>

            </tbody>
        </table>
        <pagination-controls id="server" (pageChange)="getDataPage($event)"></pagination-controls>
    </div>
    <app-footer></app-footer>
</app-layout>
<div class="loading" *ngIf="isLoading">Loading&#8230;</div>