<form class="form" [formGroup]="form">
  <div class="form-group">
    <input class="form-control" id="exampleInputEmail1" autocomplete="off" placeholder="Username"
      formControlName="username">
  </div>
  <div class="form-group">
    <input class="form-control" type="password" id="exampleInputPassword1" placeholder="Password"
      formControlName="password">
  </div>
  <div class="form-group">
    <input class="form-control" id="exampleInputPassword1" placeholder="Name" formControlName="name">
  </div>
  <div class="form-group">
    <input class="form-control" id="exampleInputPassword1" placeholder="Phone" formControlName="phone">
  </div>
  <div class="form-group">
    <input class="form-control" id="exampleInputPassword1" placeholder="Code" formControlName="code">
  </div>
  <!-- <mat-form-field class="form__input" appearance="standard">
    <input matInput placeholder="Full name" formControlName="name">
  </mat-form-field>

  <mat-form-field class="form__input">
    <input matInput placeholder="Email Address" type="email" formControlName="email">
  </mat-form-field>

  <mat-form-field class="form__input">
    <input matInput placeholder="Password" type="password" formControlName="password">
  </mat-form-field> -->


  <div class="form-actions">
    <button class="form-actions__create" mat-raised-button color="primary" (click)="sign()">Create your account</button>
  </div>
</form>